@page "/Settings"
@using MtgDeckInfoScraper.Scraping.Moxfield
<h3>Settings</h3>

<div class="form-control">
    <label class="label">
        Chrome Remote Debugging Port
    </label>
    <input id="chromeRemoteDebuggingPort" type="number" class="input input-bordered" @bind="Preferences.ChromeRemoteDebuggingPort"/>
</div>

<div class="form-control">
    <label class="label">
        Chrome Executable Path
    </label>
    <input id="chromeExecutablePath" type="text" class="input input-bordered" @bind="Preferences.ChromeExecutablePath"/>
</div>

<div class="form-control">
    <label class="label">
        Chrome User Data Profile Name
    </label>
    <input id="chromeUserDataProfileName" type="text" class="input input-bordered" @bind="Preferences.ChromeUserDataProfileName"/>
</div>

@code {
    [Inject] public MtgDeckInfoScraperPreferences Preferences { get; set; } = null!;
}