@page "/Settings"
@using MtgDeckInfoScraper.Scraping.Options

<h3 class="text-xl font-bold mb-4">Settings</h3>

<div class="form-control mb-4">
    <label class="label">
        <span class="label-text">Chrome Remote Debugging Port</span>
    </label>
    <input
        id="chromeRemoteDebuggingPort"
        type="number"
        class="input input-bordered"
        @bind="Options.ChromeRemoteDebuggingPort"/>
</div>

<div class="form-control mb-4">
    <label class="label">
        <span class="label-text">Chrome Executable Path</span>
    </label>
    <input
        id="chromeExecutablePath"
        type="text"
        class="input input-bordered"
        @bind="Options.ChromeExecutablePath"/>
</div>

<div class="form-control mb-4">
    <label class="label">
        <span class="label-text">Chrome User Data Profile Name</span>
    </label>
    <input
        id="chromeUserDataProfileName"
        type="text"
        class="input input-bordered"
        @bind="Options.ChromeUserDataProfileName"/>
</div>

@code {
    [Inject] public IMtgDeckInfoScraperOptions Options { get; set; } = null!;
}