@typeparam TModel

<th
    class="p-2 text-left font-bold cursor-pointer @GetClasses()"
    @onclick="OnClick">
    <span class="flex items-center space-x-1">
        <small class="text-gray-500">
            @if (string.Equals(Grid.SortProperty, PropertyName, StringComparison.OrdinalIgnoreCase))
            {
                @(Grid.SortAscending ? "▲" : "▼")
            }
        </small>
        <span>@PropertyName</span>
    </span>
</th>

@code {
    [Parameter] [EditorRequired] public string? PropertyName { get; set; }

    [Parameter] public bool Sortable { get; set; }

    [CascadingParameter] public Grid<TModel> Grid { get; set; } = null!;

    private string GetClasses()
    {
        var classes = new List<string>();
        if (Sortable)
        {
            classes.Add("cursor-pointer");
        }

        return string.Join(" ", classes);
    }

    private void OnClick()
    {
        if (!Sortable || string.IsNullOrEmpty(PropertyName))
        {
            return;
        }

        Grid.SortBy(PropertyName);
    }

}