@inherits LayoutComponentBase

<div class="flex ">
    <!-- Sidebar -->
    <NavMenu/>

    <!-- Main Content -->
    <main class="flex flex-1 flex-col">
        <!-- Article Content -->
        <article class="flex-1 p-4 bg-base-100">
            @Body
        </article>
    </main>
</div>
